latex/cap/*.aux
latex/tesi-blx.bib
latex/tesi.aux
latex/tesi.bit 
latex/tesi.blg 
latex/tesi.bbl 
latex/tesi.lof 
latex/tesi.log 
latex/tesi.lot 
latex/tesi.glo 
latex/tesi.glx 
latex/tesi.gxg 
latex/tesi.gxs 
latex/tesi.idx
latex/tesi.ilg 
latex/tesi.ind 
latex/tesi.out 
latex/tesi.url 
latex/tesi.svn 
latex/tesi.toc
latex/tesi.fdb_latexmk
latex/tesi.synctex.gz
latex/tesi.run.xml
latex/tesi.fls
latex/_minted-tesi